h1 {
  font-size: 48px;
  color: purple;
}

h2 {
  font-size: 36px;
  color: purple;
}

.summary-text {
  font-size: 56px;
  color: pink;
}

.contact {
  border-color: darkgray;
  border-width: 2px;
  border-style: solid;
  background-color: lightgray;
  margin: 20px;
  padding: 20px;
}
